<div id="<%= dom_id book %>">
  <p>
    <strong>Book name:</strong>
    <%= book.book_name %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= book.author_name %>
  </p>

  <p>
    <strong>Published year:</strong>
    <%= book.published_year %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= book.rating %>
  </p>

  <p>
    <strong>Year read:</strong>
    <%= book.year_read %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

</div>
