<div class="w-auto p-3 mb-2 bg-secondary text-dark bg-opacity-10">
  <h1 class="display-4">
     <%= @book.book_name%>
  </h1>
  <p class="lead">
    <%=@book.author_name%> | <%=@book.genre%> 
  </p>
  <p>
    <strong>Published Year:</strong>
     <%=@book.published_year%> |
    <strong>Year Read:</strong> 
     <%=@book.year_read%> |
     <strong>Rating:</strong>
     <%=@book.rating%>
  </p>
  <hr class="my-4">

  <div>
  <%= link_to "Edit this book", edit_book_path(@book), class:"btn btn-dark" %> 
  <%= link_to "Back to books", books_path, class:"btn btn-dark" %>
  </div>

  <br/>

  <div>
  <%= button_to "Delete this book", @book, method: :delete, class:"btn btn-danger" %>
</div>
</div>






